@font-face {
  font-family: SpaceMono;
  src: url(../../fonts/Space_Mono/SpaceMono-Regular.ttf);
}
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
* {
  color: #79e6f2;
  font-family: SpaceMono;
  scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 48px !important;
}
@media screen and (max-width: 600px) {
  .material-symbols-outlined {
    font-size: 32px !important;
  }
}

html {
  background-image: url(../images/shutterstock_295846730.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 10%;
}

.page-body {
  clip-path: polygon(50px 0%, calc(100% - 50px) 0%, 100% 50px, 100% calc(100% - 50px), calc(100% - 50px) 100%, 50px 100%, 0% calc(100% - 50px), 0% 50px);
  padding: 15px;
  background-color: rgba(16, 41, 64, 0.6);
}
.page-body__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  border-bottom: 3px solid #79e6f2;
}
@media screen and (max-width: 600px) {
  .page-body__header {
    flex-direction: column;
    text-align: center;
  }
}
.page-body__sub-heading {
  margin: 3px 0;
  text-align: right;
}
@media (max-width: 600px) {
  .page-body__sub-heading {
    text-align: center;
  }
}
.page-body__section {
  border-bottom: 3px solid #79e6f2;
  font-weight: bolder;
  padding: 0 10%;
}
.page-body__section > article {
  padding: 0 5%;
}
.page-body__footer {
  background-color: rgba(18, 49, 89, 0.7);
  padding-left: 10%;
}

.nav-bar {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.nav-bar__hex-outer {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 130px;
  min-width: 113.75px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-color: rgba(121, 230, 242, 0.7);
}
.nav-bar__hex-outer:hover {
  transform: scale(1.1);
  background-color: #79e6f2;
}
@media (max-width: 600px) {
  .nav-bar__hex-outer {
    min-height: 60px;
    min-width: 52.5px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
}
.nav-bar__hex-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  min-width: 105px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-image: radial-gradient(#0b1a26, #123159);
  flex-direction: column;
}
@media (max-width: 600px) {
  .nav-bar__hex-inner {
    min-height: 55px;
    min-width: 48.125px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
}
.nav-bar__btn {
  text-decoration: none;
}
@media (max-width: 600px) {
  .nav-bar__btn--hide-text {
    display: none;
  }
}
.nav-bar__btn span:first-of-type {
  scale: 200%;
}

.section__heading {
  text-indent: 10%;
  border-bottom: 1px solid #79e6f2;
}

.footer-nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
}
.footer-nav-bar__list {
  text-align: left;
}
